* {
    box-sizing: border-box;
}

body {

    background-image: url("/comics-sw/assets/images/background.webp");
    padding-left: 15%;
    padding-right: 15%;
}


.banner {
    width: 100%;
}

.nav-li {
    margin-bottom: 5px;
}



.header a,
.main a,
.iframe a {
    text-decoration: none;
}

.nav-a {
    background-color:grey;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
    border: 1px solid #000;

}

.titles {
    color: #fff;
background-color: #333;
border-radius: 10px;
padding-left: 5px;

}



.header,
.main,
.footer {
    background-color:#c0c0c0;
    border-radius: 10px;
    padding-bottom: 10px;
    border: 2px solid #000;
    /* width: 1000px; *//*new*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.header p,
.main dl,
.main p,
.iframe p {
    padding-left: 5px;
}



.button {
    background-color:grey;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
    text-decoration: none;
    border: 1px solid #000;
    display:inline-block;

}

iframe {
    margin: 5px;
    width: 99%;
    height: 300px;
    border: 2px solid #000;

}

footer {
    margin-top: 10px;
}

.icons {

    display:inline-block;
    width: 30px;
    height: 30;
    margin-top: 5px;
}

.h1-icons {
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    padding-left: 5px;

}
