* {
    box-sizing: border-box;
}






.poster {
    width: 400px;
    height: 600px;
    display: inline-block;
    
}

.episode {
    display: inline-block;
    width: 800px;
    margin-left: 10px;
    margin-bottom: 15px;
}


.name{
    font-size: 2em;
}

.iframe {
    width: 590px;
    height: 335px;
    border: 10px solid white;
}