* {
box-sizing: border-box;
}

body {
background-image: url("/comics-sw/html/cronologia/assets/images/background-stars-desktop.webp");
margin: 0;
color: white;
}

main {
    margin-left: 8%;
    margin-right: 8%;
}


/*
TITLE
*/
.title {
background-color: black;
color: white;
margin-bottom: 5px;
}


.span-title {
    font-size: 2em;
display: block;
color: inherit;
    width: 190px;
margin: inherit;
margin-left: auto;
margin-right: auto;

}

.home {
    text-decoration: none;
    color: inherit;
}